/* Кастомные свойства */
:root{
    --basic-blue: #81B3D2;
    --dark-blue: #669EC0;
    --darkest-blue: #5496BD;
    --basic-blue2: #81B3D3;
    --basic-white:  #FFFFFF;
    --basic-black: #000000;
    --text-dark: #333333;
    --special-light:#EEEEEE;
    --special-black:#231F20;
    --special-grey: #BDBBBC;

    --light-brown: #766357;
    --dark-brown: #604E43;
    --darkest-brown: #503E33;
    --form-bg: #F2F2F2;
}

/* Общие стили */

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 1280px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Шапка*/

.header__nav{
    position: relative;
    font-weight: bold;
    line-height: 26px;
}

.header__menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 15px 0;
    margin:0;
    list-style-type: none;
}

.header__logo{
    position: absolute;
    right: 531px;
    left: 531px;
}  

/* Приветственная страница */

.welcome{
    background: url("../img/background.jpg") no-repeat;
    height: 509px;
    padding-top: 62px;
    text-align: center;
} 

.text-image__gorgeous{
    margin-bottom: 55px;
}


/* Основной контент  */

.advantages{
    margin-bottom: 58px;
}

.advantages__title{
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.advantages__title_main{
    margin-bottom: 60px;
    line-height: 26px;
}

.advantages__reasons{
    text-align: center;
    line-height: 26px;
    margin-bottom: 50px;
}

.advantages__list{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 330px 256px 256px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantages__item{
    text-align: center;
}

.advantages__item_full{
    grid-column: 1 / 4;
}

.advantages__item_sub{
    align-self: center;
}

.text-block{
    display: flex;
    justify-content: center;
}

.text-block__center{
    width: 400px;
    align-self: center;
}

.advantages__item_bg{
    padding-top: 27px;
    background-color: var(--special-light);
}

.advantages__sub{
    padding-bottom: 10px;
}

.text-block{
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.text-block__title{
    font-weight: 700;
    font-size: 21px;
}

/* Заключение */

.conclusion{
    text-align: center;
}

.conclusion__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.conclusion__submit{
    padding: 30px 125px;
    margin-top: 50px;
    background-color: var(--light-brown);
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.conclusion__submit:hover{
    background-color: var(--dark-brown);
}

.conclusion__submit:active{
    background-color: var(--darkest-brown);
    color: rgba(255, 255, 255, .3);
}

/* Футер */

.footer__wrapper{
    display: grid;
    height: 120px;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__contacts{
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.contacts__hashtag{
    margin: 0 0 9px 0;
}

.footer__social{
    padding: 0;
    display: flex;
    align-self: center;
    justify-content: center;
    list-style-type: none;
}

.social__item{
    margin-right: 6px;
}

.footer__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright__text{
    margin-right: 8px;
}

.conclusion__find-hotels{
    height: 594px;
    background-image: url(../img/map.png);
}


.copyright__logo{
    color: var("--special-black");
}

.copyright__logo:hover{
    color:var(--basic-blue);
}

.copyright__logo:active{
    color: var(--special-grey);
}


/* Каталог */


.page-catalog{
    display: grid;
    grid-template-rows: 217px 1fr;
}

.catalog{
    margin-bottom: 30px;
}

.catalog__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog__info{
    margin-top: 30px;
    margin-bottom: 30px;
}

.filters{
    outline: 5px solid rgba(255, 0, 255, 0.7);
    outline-offset: -5px;
}

.header__item:visited{ /*ИЛИ focus?*/
    color: var(--light-brown);
}

.catalog__list{
    list-style-type: none;
}

.catalog__title{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.catalog__title:hover{
    color: var(--basic-blue);
}

.catalog__title:active{
    color: #000000;
    opacity: 0.3;
}

.catalog__button{
    font: inherit;
    color: var(--basic-white);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 17px;
}

.catalog__button_blue{
    background-color: var(--basic-blue);
}

.catalog__button_blue:hover{
    background-color: var(--dark-blue);
}

.catalog__button_blue:active{
    background-color: var(--darkest-blue);
    color: rgba(255, 255, 255, .3);
}

.catalog__button_brown{
    background-color: var(--light-brown);
}

.catalog__button_brown:hover{
    background-color: var(--dark-brown);
}

.catalog__button_brown:active{
    background-color: var(--darkest-brown);
    color: rgba(255, 255, 255, .3);
}
