/* Кастомные свойства */
:root{
    --basic-blue: #81B3D2;
    --basic-blue2: #81B3D3;
    --basic-white:  #FFFFFF;
    --basic-black: #000000;
    --text-dark: #333333;
    --special-light:#EEEEEE;

    --form-brown: #766357;
    --form-bg: #F2F2F2;
}

/* Общие стили */

.page-body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* Навигация */


.header__nav{
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

/* .header__logo{
    margin: 0 auto;
} */

.header__menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
} 

/* Приветственная страница */

.welcome{
    margin: 0 auto;
}


/* Основной контент  */

.advantages__list{
list-style-type: none;
}

.advantages h2{
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}

.advantages__reasons{
    text-align: center;
    line-height: 26px;
}

.advantages__title{
    font-size: 21px;
    font-weight: 700;
}

.advantages__bg{
    background-color: var(--special-light);
}

.text-block{
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
}

.text-block__title{
    font-weight: 700;
    font-size: 21px;
}

/* Заключение */

.conclusion{
    text-align: center;
}

.conclusion__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.conclusion__button{
    padding: 30px 125px;
    background-color: var(--form-brown);
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

/* Футер */

.footer{
    display: flex;
    justify-content: center;
}

.footer__social{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer__contacts{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.footer__copyright{
    line-height: 26px;
}

